{#个人中心#}
{% load staticfiles %}
<script src="{% static 'jquery-1.12.4/jquery-1.12.4.min.js' %}"></script>

<label>{{ other.username }} {{ other.pk }}</label>
{% if user.is_authenticated %}
    {% if other.pk != user.pk %}
        <span id="follow-span">
        {% if isFans == False %}
            <button id="follow-button" onclick="follow({{ user.pk }},{{ other.pk }})">关注</button>
        {% else %}
            <button id="unfollow-button" onclick="unfollow({{ user.pk }},{{ other.pk }})">取消关注</button>
        {% endif %}
        </span>
    {% else %}
        <a href="{% url 'add_product' %}">发布商品</a>
        <a href="{% url 'add_wish' %}">发布心愿</a>
        <a href="{% url 'logout' %}"> 退出登录</a>
        <a href="{% url 'change_pwd' %}">修改密码</a>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">登录后才可关注</a>
{% endif %}

<p>-----显示发布的商品----</p>
{% if product_list.count > 0 %}
    {% for item in product_list %}
        <div id="product-{{ item.pk }}">
            <img src="{{ item.img1.url }}"/>
            <span>{{ item.name }}</span>
            {% if other.pk == user.pk %}
                <button onclick="deleteProduct({{ item.pk }})">删除商品</button>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

<p>-----显示发布的心愿-----</p>
{% if wish_list.count > 0 %}
    {% for item in wish_list %}
        <div id="wish-{{ item.pk }}">
            <span>{{ item.name }}</span>
            {% if other.pk == user.pk %}
                <button onclick="deleteWish({{ item.pk }})">删除心愿</button>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

<p>-----显示关注的人----</p>
{% if user.is_authenticated %}
    <button onclick="showIdols({{ other.pk }},{{ user.pk }})">关注的人</button>
{% else %}
    <button onclick="showIdols({{ other.pk }},-1)">关注的人</button>
{% endif %}
<p/>
<div id="idols">

</div>
<p>-----显示粉丝-----</p>

<script>
    // 使用ajax添加关注
    function follow(userid, otherid) {
        $.ajax({
            url: "{% url 'follow' %}",
            type: 'GET',
            data: {
                userid: userid,
                otherid: otherid
            },
            cache: false,
            success: function (data) {
                if (data['status'] = 'SUCCESS') {
                    $('#follow-button').remove()
                    $('#follow-span').append(' <button id="unfollow-button" onclick="unfollow({{ user.pk }},{{ other.pk }})">取消关注</button>')
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }

    //用于在别人的idol列表中添加关注，为了避免标签复杂化，重写一遍
    function followidol(userid, otherid, htmlid) {
        console.log(userid, otherid, htmlid)
        $.ajax({
            url: "{% url 'follow' %}",
            type: 'GET',
            data: {
                userid: userid,
                otherid: otherid
            },
            cache: false,
            success: function (data) {
                if (data['status'] = 'SUCCESS') {
                    $('#follow-button' + htmlid).remove()
                    $('#follow-span' + htmlid).append('<span>已关注</span')
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }

    //使用ajax取消关注
    function unfollow(userid, otherid) {
        $.ajax({
            url: "{% url 'unfollow' %}",
            type: 'GET',
            data: {
                userid: userid,
                otherid: otherid
            },
            cache: false,
            success: function (data) {
                if (data[status] = 'SUCCESS') {
                    $('#unfollow-button').remove()
                    $('#follow-span').append(' <button id="follow-button" onclick="follow({{ user.pk }},{{ other.pk }})">关注</button>')
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }

    //userid:当前页面的用户id   meid：登录的用户id
    function showIdols(userid, meid) {
        $.ajax({
            url: "{% url 'show_idols' %}",
            type: 'GET',
            data: {
                userid: userid,
                meid: meid
            },
            cache: false,
            success: function (data) {
                if (data['status'] = 'SUCCESS') {
                    console.log(data)
                    for (var i = 0; i < data['idols'].length; i++) {
                        var fhtml = '';
                        if (meid != -1 & data['idols'][i]['idolid'] != meid) {
                            if (data['idols'][i]['isFollow'] != 0) {
                                fhtml = '<span>已关注</span>'
                            } else {
                                fhtml = '<div id="follow-span' + data['idols'][i]['idolid'] +
                                    '"><button id = "follow-button' + data['idols'][i]['idolid'] +
                                    '" onclick="followidol(' + meid + ',' + data['idols'][i]['idolid'] +
                                    ',' + data['idols'][i]['idolid'] + ')">关注</button></div>';
                            }
                        }
                        html = '<a href="/user/' + data['idols'][i]['idolid'] + '">' +
                            data['idols'][i]['idol'] + '</a> &nbsp;' +
                            fhtml + '<p/>';
                        $('#idols').append(html);
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }

    //删除发布的商品
    function deleteProduct(productid) {
        console.log(productid)
        $('#product-' + productid).remove()
    }

    //删除发布的心愿
    function deleteWish(wishid) {
        $('#wish-' + wishid).remove()
    }
</script>