{% load staticfiles %}
<script src="{% static 'jquery-1.12.4/jquery-1.12.4.min.js' %}"></script>

{% if user.is_authenticated %}
    {% for item in linkman_list %}
        <div>
            <a href="{% url 'room' item.pk %}">{{ item.username }}</a>
            &emsp;&emsp;
            {% for key,val in unread.items %}
                {% if key == item.pk %}
                    <span>有{{ val }}条信息未读</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <span>请先登录</span>
{% endif %}
<p/>