{% load staticfiles %}
<script src="{% static 'jquery-1.12.4/jquery-1.12.4.min.js' %}"></script>
{% if user.is_authenticated %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <span>name</span>
        <input type="text" name="name">
        <span>description</span>
        <input type="text" name="description">
        <p/>
        <span>type</span>
        <select name="typeid">
            {% for type in producttype_list %}
                <option value="{{ type.pk }}">{{ type.type_name }}</option>
            {% endfor %}
        </select>
        <p/>
        <span>price</span>
        <input type="text" name="price">
        <p/>
        <span>图片</span>
        <span id="imgs">
    <input type="file" name="img1">
    </span>
        <span id="'img-button">
        <button type="button" onclick="addImg()">继续图片上传</button>
    </span>
        <p/>
        <input type="submit" name="提交">
    </form>
{% else %}
    <a href="{% url 'login' %}">请先登录</a>
{% endif %}



<script>
    function addImg() {
        num = $('#imgs').children().length + 1
        $('#imgs').append('<input type="file" name="img' + num + '">')
    }
</script>
